[submodule "sv-tools"]
	path = sv-tools
	url = https://github.com/Kawanami-git/sv-tools.git
[submodule "mpfs-discovery-kit"]
	path = mpfs-discovery-kit
	url = https://github.com/Kawanami-git/mpfs-discovery-kit.git
[submodule "riscv-core-harness"]
	path = riscv-core-harness
	url = https://github.com/Kawanami-git/riscv-core-harness.git
